/*css sheet for COGs final project video game website*/

.topspace{

width:100%;
height:50px;

}

/*Floating Navigation Bar*/
#floatingbar{
	background-color:#000000;
	height:40px;
	width:100%;
	position:absolute;
	margin-left:0px;
	top:40px;
	bottom:0px;
	z-index:1000;
    
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    float:left;
    width:100%;
}
 
/*Dropdown Menu*/
    
#floatingbar li{
    height:inherit;
    float:left;
    position:relative;
    margin-right:85px;
}
#floatingbar a{
    display:block;
    padding:10px;
    color:#fff;
    background:#000000;
    text-decoration:none;
}
#floatingbar a:hover{
    color:#fff;
    background:#6b0c36;
    text-decoration:underline;
}

#floatingbar ul{
    display:block;
    background:#fff;
    background:rgba(255,255,255,0); 
    list-style:none;
    position:absolute;
    left:-9999px;
    text-align:center;
}
#floatingbar ul li{
    padding-top:1px;
    float:none;
}
#floatingbar ul a{
    white-space:nowrap; 
}
#floatingbar li:hover 
    ul{left:0; 
}
#floatingbar li:hover a{ 
    background:#6b0c36;
    text-decoration:underline;
}
#floatingbar li:hover ul a{ 
    text-decoration:none;
}
#floatingbar li:hover ul li a:hover{
    background:#333;
}
 /*HEAD*/
.bartitles{
	color:white;
}

#toplogo{
	position:fixed;
	top:0px;
	left:50%;
	margin-left:-42px; /*011 offset*/
	z-index:1001;
}

/*HEAD*/


/*=======*/
.siteinfo{
padding-bottom:30px;
text-align: center;
color:white;


}

h1{

	font-family:Verdana;
	padding-top:20px;
	font-size:50px;
	text-shadow: 2px 2px 0px black;
}

h3{
	font-family:Verdana;
	text-shadow: 2px 2px 0px black;
}

.link{

	color:white;
 	text-decoration:none;
 	font-family:Verdana;
 	margin: 0px -125px 0px 200px;
 	float:left;
 	position:relative;
 	padding-top: 10px;
}

.subbar{

	width:100%;
	height:40px;
	background-color: gray;
}

.sublinkxboxone{
	color:white;
 	text-decoration:none;
 	font-family:Verdana;
 	margin: 0px 0px 0px 33px;
 	float:left;
 	position:relative;
 	padding-top: 10px;
}

.sublinkwiiu{
	color:white;
 	text-decoration:none;
 	font-family:Verdana;
 	margin: 0px 0px 0px 50px;
 	float:left;
 	position:relative;
 	padding-top: 10px;
}

.sublinkpsfour{
	color:white;
 	text-decoration:none;
 	font-family:Verdana;
 	margin: 0px 0px 0px 45px;
 	float:left;
 	position:relative;
 	padding-top: 10px;
}

.sublinkpc{
	color:white;
 	text-decoration:none;
 	font-family:Verdana;
 	margin: 0px 0px 0px 50px;
 	float:left;
 	position:relative;
 	padding-top: 10px;
}


.homeb{

	background:url('images/elderscrollsbackground.jpg');
	/*background-color: gray;*/
	 background-size:cover;
	 background-position:center center;
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 margin:0;
	 height:2000px;
	 font-family:'Arbutus Slab',serif;
	 color:rgb(191,191,191);
}
.xboxoneb{
	background:url('images/titanfallb.jpg');
	 background-size:cover;
	 background-position:center center;
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 margin:0;
	 height:2000px;
	 font-family:'Arbutus Slab',serif;
	 color:rgb(191,191,191);
}

.wiiub{
	background:url('images/WWb.jpg');
	 background-size:cover;
	 background-position:center center;
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 margin:0;
	 height:2000px;
	 font-family:'Arbutus Slab',serif;
	 color:rgb(191,191,191);
}

.psfourb{
	background:url('images/PS4b.jpg');
	 background-size:cover;
	 background-position:center center;
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 margin:0;
	 height:2000px;
	 font-family:'Arbutus Slab',serif;
	 color:rgb(191,191,191);
}

.pcb{
	background:url('images/pcb.jpg');
	 background-size:cover;
	 background-position:center center;
	 background-repeat:no-repeat;
	 background-attachment:fixed;
	 margin:0;
	 height:2000px;
	 font-family:'Arbutus Slab',serif;
	 color:rgb(191,191,191);
}

.maindiv{
		width:1000px;
		height:1800px;
		background-size:100%;
		background-repeat:no-repeat;
		background-position:center center;
		margin-bottom:150px;
		margin-left:auto;
		margin-right:auto;
		background-color: white;
		z-index:0;

}


#container{

		margin-left:auto;
		margin-right:auto;
}



/*Carousel*/
	.carousel{position:relative; float:right;width:1000px;height:400px;}
	.carousel-inner{position:relative;overflow:hidden;width:100%}.carousel-inner>.item{display:none;position:relative;-webkit-transition:.6s ease-in-out left;transition:.6s ease-in-out left}
	.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;max-width:100%;height:auto;line-height:1}.carousel-img{position:absolute;top:0;left:0;min-width:100%;height:500px;}
	.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}.carousel-inner>.active{left:0}.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}
	.carousel-inner>.next{left:100%}.carousel-inner>.prev{left:-100%}.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}.carousel-inner>.active.left{left:-100%}.carousel-inner>.active.right{left:100%}
	.carousel-control{position:absolute;top:0;left:0;bottom:0;width:15%;opacity:.5;filter:alpha(opacity=50);font-size:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}
	.carousel-control.left{background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)}
	.carousel-control.right{left:auto;right:0;background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,.0001) 0),color-stop(rgba(0,0,0,.5) 100%));background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)}
	.carousel-control:hover,.carousel-control:focus{outline:0;color:#fff;text-decoration:none;opacity:.9;filter:alpha(opacity=90)}.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{position:absolute;top:50%;z-index:5;display:inline-block}
	.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left{left:50%}.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right{right:50%}.carousel-control .icon-prev,.carousel-control .icon-next{width:20px;height:20px;margin-top:-10px;margin-left:-10px;font-family:Helvetica,sans-serif}.carousel-control .icon-prev:before{content:'\2039'}
	.carousel-control .icon-next:before{content:'\203a'}.carousel-indicators{position:absolute;bottom:10px;left:50%;z-index:15;width:60%;margin-left:-30%;padding-left:0;list-style:none;text-align:center}.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;border:1px solid #fff;border-radius:10px;cursor:pointer;background-color:#000 \9;background-color:rgba(0,0,0,0)}
	.carousel-indicators .active{margin:0;width:12px;height:12px;background-color:#fff}.carousel-caption{position:absolute;left:15%;right:15%;bottom:20px;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}
	.carousel-caption .btn{text-shadow:none}@media screen and (min-width:768px){.carousel-control .glyphicons-chevron-left,.carousel-control .glyphicons-chevron-right,.carousel-control .icon-prev,.carousel-control .icon-next{width:30px;height:30px;margin-top:-15px;margin-left:-15px;font-size:30px}
	.carousel-caption{left:20%;right:20%;padding-bottom:30px}
	.carousel-indicators{bottom:20px}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,
		.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after{content:" ";display:table}
	.clearfix:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,
	.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after{clear:both}
	.center-block{display:block;margin-left:auto;margin-right:auto}
	.pull-right{float:right!important}.pull-left{float:left!important}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}
	.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none!important;visibility:hidden!important}
	.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,tr.visible-xs,th.visible-xs,td.visible-xs{display:none!important}
	@media (max-width:767px){.visible-xs{display:block!important}table.visible-xs{display:table}tr.visible-xs{display:table-row!important}
	th.visible-xs,td.visible-xs{display:table-cell!important}}.visible-sm,tr.visible-sm,th.visible-sm,td.visible-sm{display:none!important}
	@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}table.visible-sm{display:table}tr.visible-sm{display:table-row!important}
	th.visible-sm,td.visible-sm{display:table-cell!important}}.visible-md,tr.visible-md,th.visible-md,td.visible-md{display:none!important}
	@media (min-width:992px) and (max-width:1199px){.visible-md{display:block!important}table.visible-md{display:table}tr.visible-md{display:table-row!important}
	th.visible-md,td.visible-md{display:table-cell!important}}.visible-lg,tr.visible-lg,th.visible-lg,td.visible-lg{display:none!important}
	@media (min-width:1200px){.visible-lg{display:block!important}table.visible-lg{display:table}tr.visible-lg{display:table-row!important}
	th.visible-lg,td.visible-lg{display:table-cell!important}}@media (max-width:767px){.hidden-xs,tr.hidden-xs,th.hidden-xs,td.hidden-xs{display:none!important}}
	@media (min-width:768px) and (max-width:991px){.hidden-sm,tr.hidden-sm,th.hidden-sm,td.hidden-sm{display:none!important}}
	@media (min-width:992px) and (max-width:1199px){.hidden-md,tr.hidden-md,th.hidden-md,td.hidden-md{display:none!important}}
	@media (min-width:1200px){.hidden-lg,tr.hidden-lg,th.hidden-lg,td.hidden-lg{display:none!important}}
	.visible-print,tr.visible-print,th.visible-print,td.visible-print{display:none!important}
	@media print{.visible-print{display:block!important}table.visible-print{display:table}tr.visible-print{display:table-row!important}
	th.visible-print,td.visible-print{display:table-cell!important}}@media print{.hidden-print,tr.hidden-print,th.hidden-print,td.hidden-print{display:none!important}}

		/*Sidebar Galore*/
		@media (min-width:768px){.sidebar{position: fixed;
			top: 51px;
			bottom: 10%;
			left: 0;
			height: 500px;
			z-index: 1000;
			display: block;
			padding: 20px;
			overflow-x: hidden;
			overflow-y: auto;
			background-color: #f5f5f5;
			border-right: 1px solid #eee;}
		{.navbar-right .dropdown-menu{left:auto;right:0}
		.navbar-right .dropdown-menu-left{left:0;right:auto}}.btn-group,.btn-group-vertical{position:relative;display:inline-block;vertical-align:middle;padding-left:25px;}

.smallbox{
	width:250px;
	height:225px;
	display: inline-block;
	z-index:1;
	padding-left:70px

}

.sbtext{
	height:50px;
	width:100%;
	padding-left: 70px;
	padding-bottom: -100px;

}

/*.sbtextxboxone{
	height:50px;
	width:100%;
	padding-left: 70px;
	padding-bottom: -100px;

}*/

#smallpg{
	display:inline;
	padding-right:50px;
}

.smallboxpic{
	
	width: 200px;
	height: 200px;
}
.bigbox{

	margin:0px 0px 0px 250px;
	/*position:relative;*/
	width:600px;
	height:300px;
}

.bigpic{

	width:250px;
	height:250px;
	float:left;
}

#bigpg{

	float:right;
	width:250px;
}

#alink{
	padding-left:180px;
}

.more{
text-align: center;
}

.ul,li,ol{
    font-family:Verdana;
    font-size:14px;
    margin-top:0px;
    margin-bottom:10px;
    text-decoration:none;
} 
            
.footer{
	height: 100px;
	background-color: black;
	margin-top: 100px;
	clear:both;
}



